.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(190, 180, 180);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
Button{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.ButtonGroup
{
  display: flex;
}